<h1>Confirmation page</h1>
<p>Copy the code Put it into the game in accept their invite and copy the code generated in the game Paste the code into the browser Click submit Rinse and repeat.</p>

<h1>Invitation page</h1>
<p>Check invitations now and then to see if anyone has done it with your code.</p>
<p>It shows a status of wether you have more confirmed or a confirmed by more.</p>
<br/>
<p><b>You have contributed x more times then you have recieved</b> is a positive rating and you have to wait for other people to confirm you code.</p>
<p><b>You have recieved x more times then you have contributed</b> is a negative rating and you have to confirm more codes from others to unlock more codes for yourself.</p>


